body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    background-color: #6A433A; 
    color: #BCBEB6;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #BCBEB6;
    margin: 32px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #BCBEB6;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #BCBEB6;
}

.call {
    background-color: #696F4F;
    color: #383024;
    display: flex;
    
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    
}

.quote {
    background-color: #BCBEB6;
    font-size: 36px;
    font-style: italic;
    color: #383024;
    font-weight: lighter;
    padding: 32px;
    text-align: center;
    margin: 16px;
}

.bold {
    font-weight: 700;
    text-align: right;
    font-size: 24px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    gap: 52px;
}

img {
    height: 300px;
    width: auto;
}

.content {
    display: flex;
    justify-content: center;
    gap: 16px; 
    align-items: center;
}

.title {
    padding: 16px; 
    width: 300px;
}

button {
    padding: 16px;
}

h3 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6A433A;
    color: #BCBEB6;
    padding: 8px;
    margin: 8px;
}