body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    background-color: #6A433A;
    colour: #BCBEB6;
}

.nav {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-logo { 
    margin: 10px 30px 5px;
}

ul { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px; 
    list-style-type: none;
    margin: 10px 30px 5px;
}

.main-content { 
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 24px; 
    gap: 8px;
}

.main-info { }

.info {
    text-align: center;
 }

 img {
     width: 300px;
     height: 400px;
 }

.info-heading { }

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px; 
 }

.product-info { }

.quote-container { 
    background-color: #BCBEB6;
    display: flex;
    justify-content: center;
    margin: 24px; 
    padding: 16px;
}

.quote-text {
    font-style: italic;
    font-weight: lighter;
    font-siz: 24px;
    
 }

.quote-author { 
    font-weight: bold; 
    font-size: 18px;
    text-align: right;
    margin: 15px;
}

.sign-up-container { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #696F4F; 
    color: #BCBEB6; 
    margin: 24px;
}

.sign-up-text { 
    text-align: left;

}

.sign-up-button { }

.footer {
    color: #BCBEB6;
    background-color: #6A433A;
    margin: 4px;
    padding: 2px;
    text-align:center

 }