
.header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.call {
    background-color: #3882f6;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2837;
    font-weight: lighter;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}